.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
out/**
dist/test/**
node_modules/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.prettierignore
.eslintcache
.husky/**
tsconfig.tsbuildinfo
